@mixin ContainerStyles {
  margin-top: 100px;
  max-width: 684px;
  background-color: #f8f8f8;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 40px 30px 80px rgba(54, 48, 116, 0.3);
  border-radius: 60px;
  padding: 30px 40px;
}
