@import "../styles/common.module.scss";

.PlayerControlsContainer {
  @include ContainerStyles();
  position: relative;
  max-width: 1100px;
  min-width: 770px;
  padding-left: 100px;
  transform: translateX(-70px) translateY(40px);
  .Band {
    width: 7px;
    height: 91px;
    position: absolute;
    right: 20px;
    top: 100px;
    background: #e1deea;
    border-radius: 13px;
  }
  .TopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-right: 60px;
    .LeftControls,
    .CenterControls,
    .RightControls {
      display: flex;
      align-items: center;
    }
    .LeftControls,
    .RightControls {
      img {
        &:hover {
          transform: scale(1.15);
          cursor: pointer;
        }
        &:first-of-type {
          margin-right: 45px;
        }
      }
    }
  }
  .BottomContainer {
    margin-right: 60px;
    .SliderSection {
      width: 100%;
      margin: 0 auto;
    }
    .TimerSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        display: flex;
        align-items: center;
        font-feature-settings: "liga" off;
        color: #aa9bbe;
      }
    }
  }
}
