@import "../styles/common.module.scss";

.PlayerControlsContainer {
  @include ContainerStyles();
  max-width: 830px;
  .TopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    .LeftControls,
    .CenterControls,
    .RightControls {
      display: flex;
      align-items: center;
    }
    .LeftControls,
    .RightControls {
      img {
        &:first-of-type {
          margin-right: 45px;
        }
      }
    }
  }
  .BottomContainer {
    .SliderSection {
      width: 97%;
      margin: 0 auto;
    }
    .TimerSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        display: flex;
        align-items: center;
        font-feature-settings: "liga" off;
        color: #aa9bbe;
      }
    }
  }
}
